Assumptions:
1. Company employee and followers count don't impact job salary
2. Job remote option impacts job salary which can be related to specific job type
3. Location of work, job type and experience level should have significant impact on job salary
4. Sponsored job posts are mostly posted by bigger companies
6. Views depends on the job salary, type and company followers
7. Job benefits in description should have impact on job salary
8. Supervision positions should have higher salary

In [2]:
import pandas as pd

jobs_df = pd.read_csv('data/LinkedInJobs_MLDataset.csv')

jobs_df.head()

,Co_Nm,Co_Pg_Lstd,Emp_Cnt,Flw_Cnt,Job_Ttl,Job_Desc,Is_Supvsr,max_sal,med_sal,min_sal,...,st_code,is_remote,views,app_typ,app_is_off,xp_lvl,domain,has_post_domain,is_sponsored,base_comp
0,HearingLife,True,1171,11417,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,False,5250.00,5250.00,5250.00,...,SC,0,9,OffsiteApply,True,Entry level,careers-demant.icims.com,True,0,1
1,"Metalcraft of Mayville, Inc.",True,300,2923,Shipping & Receiving Associate 2nd shift (Beav...,Metalcraft of Mayville\nMetalcraft of Mayville...,False,0.00,0.00,0.00,...,WI,0,0,OffsiteApply,True,Not Listed,www.click2apply.net,True,0,0
2,"U.S. Tsubaki Power Transmission, LLC",True,314,8487,"Manager, Engineering",The TSUBAKI name is synonymous with excellence...,True,0.00,0.00,0.00,...,AL,0,0,OffsiteApply,True,Not Listed,www.click2apply.net,True,0,0
3,Episcopal Communities & Services,True,36,305,Cook,descriptionTitle\n\n Looking for a great oppor...,False,22.27,22.27,22.27,...,CA,0,1,OffsiteApply,True,Entry level,jobs.apploi.com,True,0,1
4,"iHerb, LLC",True,1227,51933,Principal Cloud Security Architect (Remote),"Job Summary\nAt iHerb, we are on a mission to ...",False,275834.00,240895.00,205956.00,...,XF,1,0,OffsiteApply,True,Mid-Senior level,careers.iherb.com,True,0,1

In [5]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)
jobs_df.describe()

,Emp_Cnt,Flw_Cnt,max_sal,med_sal,min_sal,is_remote,views,is_sponsored,base_comp
count,33246.00,33246.00,33246.00,33246.00,33246.00,33246.00,33246.00,33246.00,33246.00
mean,15484.56,523436.39,31866.15,27494.95,23123.76,0.14,45.42,0.24,0.40
std,62180.95,2708735.72,68238.53,57905.64,48977.38,0.35,126.97,0.43,0.49
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,148.00,8135.75,0.00,0.00,0.00,0.00,1.00,0.00,0.00
50%,1235.00,37996.50,0.00,0.00,0.00,0.00,7.00,0.00,0.00
75%,8160.00,168036.00,97.97,90.00,84.78,0.00,38.00,0.00,1.00
max,829111.00,31887198.00,1300000.00,1050000.00,998426.00,1.00,5656.00,1.00,1.00

More than 50% of the job posts haven't mentioned the salary. 14% jobs are remote and 24% of job posts are sponsored.

In [6]:
jobs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33246 entries, 0 to 33245
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Co_Nm            33242 non-null  object
 1   Co_Pg_Lstd       33246 non-null  bool
 2   Emp_Cnt          33246 non-null  int64
 3   Flw_Cnt          33246 non-null  int64
 4   Job_Ttl          33246 non-null  object
 5   Job_Desc         33244 non-null  object
 6   Is_Supvsr        33246 non-null  bool
 7   max_sal          33246 non-null  float64
 8   med_sal          33246 non-null  float64
 9   min_sal          33246 non-null  float64
 10  py_prd           33246 non-null  object
 11  py_lstd          33246 non-null  bool
 12  wrk_typ          33246 non-null  object
 13  loc              33246 non-null  object
 14  st_code          33246 non-null  object
 15  is_remote        33246 non-null  int64
 16  views            33246 non-null  int64
 17  app_typ          33246 non-null  object
 18  app_is_off       33246 non-null  bool
 19  xp_lvl           33246 non-null  object
 20  domain           19688 non-null  object
 21  has_post_domain  33246 non-null  bool
 22  is_sponsored     33246 non-null  int64
 23  base_comp        33246 non-null  int64
dtypes: bool(5), float64(3), int64(6), object(10)
memory usage: 5.0+ MB

**domain** - has a lot of missing values and it will be hard to use it. We will drop it.

In [16]:
print('Number of companies: ', len(jobs_df['Co_Nm'].unique()))
print('Number of job titles: ', len(jobs_df['Job_Ttl'].unique()))
print('Number of job locations: ', len(jobs_df['loc'].unique()))
print('Payment periods: ', jobs_df['py_prd'].unique())
print('Work types: ', jobs_df['wrk_typ'].unique())
print('Job state codes: ', jobs_df['st_code'].unique())
print("Application types: ", jobs_df['app_typ'].unique())
print("Experience levels: ", jobs_df['xp_lvl'].unique())
print("Number of job state codes: ", len(jobs_df['st_code'].unique()))

Number of companies:  11268
Number of job titles:  22290
Number of job locations:  4621
Payment periods:  ['MONTHLY' 'Not Listed' 'HOURLY' 'YEARLY' 'Unpaid' 'WEEKLY' 'ONCE']
Work types:  ['Full-time' 'Contract' 'Other' 'Part-time' 'Internship' 'Temporary'
 'Volunteer']
Job state codes:  ['SC' 'WI' 'AL' 'CA' 'XF' 'IL' 'CT' 'FL' 'NJ' 'IN' 'NC' 'NV' 'ID' 'OR'
 'CO' 'TN' 'VA' 'OH' 'TX' 'MI' 'IA' 'PA' 'MO' 'NY' 'WA' 'MD' 'KY' 'SD'
 'AZ' 'GA' 'NE' 'MN' 'MS' 'LA' 'UT' 'NM' 'DE' 'RI' 'DC' 'MA' 'OK' 'NH'
 'AR' 'HI' 'VT' 'KS' 'ND' 'AK' 'ME' 'WY' 'WV' 'MT' 'QC']
Application types:  ['OffsiteApply' 'ComplexOnsiteApply' 'SimpleOnsiteApply']
Experience levels:  ['Entry level' 'Not Listed' 'Mid-Senior level' 'Associate' 'Director'
 'Executive' 'Internship']
Number of job state codes:  53

It seems that job posts are only from US and job state codes refers to US states.

In [9]:
jobs_with_salary_df = jobs_df[jobs_df['med_sal'] > 0]
jobs_with_salary_df.describe()

,Emp_Cnt,Flw_Cnt,max_sal,med_sal,min_sal,is_remote,views,is_sponsored,base_comp
count,13350.00,13350.00,13350.00,13350.00,13350.00,13350.00,13350.00,13350.00,13350.00
mean,16747.71,783147.94,79357.45,68471.71,57585.96,0.16,54.98,0.26,1.00
std,68246.44,3670981.52,88474.26,74462.57,63161.38,0.36,144.68,0.44,0.00
min,0.00,0.00,10.00,10.00,7.25,0.00,0.00,0.00,1.00
25%,138.00,9316.00,35.00,32.00,29.22,0.00,1.00,0.00,1.00
50%,1235.00,50787.50,70000.00,63000.00,55000.00,0.00,11.00,0.00,1.00
75%,9055.00,231890.75,130000.00,112500.00,93712.50,0.00,48.00,1.00,1.00
max,829111.00,31887198.00,1300000.00,1050000.00,998426.00,1.00,5656.00,1.00,1.00